<template name="listFilter">

<!--
Use as follows - please note the string should be singular and with appropriate capitalization!
	{{> listFilter
	thisCollectionLc="org"
	thisCollectionUc="Org"
	thisCollectionFullLc="organisation"
	thisCollectionFullUc="Organisation"
	}}
-->

{{#if Template.subscriptionsReady}}

	<div class="listFilterControl">
		<!-- All Users / My Users Filter (Admin Only) -->
		<div class="{{thisCollectionLc}}ListFilter listFilter">
			{{#if glb_userIsSuperAdmin}}
				<label for="all{{thisCollectionUc}}s"><input type="radio" name="{{thisCollectionLc}}ListFilter" id="all{{thisCollectionUc}}s" value="all{{thisCollectionUc}}s" checked><span class="adminOnly">All {{thisCollectionUc}}s</span></label>
				<label for="my{{thisCollectionUc}}s"><input type="radio" name="{{thisCollectionLc}}ListFilter" id="my{{thisCollectionUc}}s" value="my{{thisCollectionUc}}s">My {{thisCollectionUc}}s</label>
			{{/if}}
		</div>

		<!-- List Sorter -->
		{{> listSorter}}

		<!-- Freetext entry -->

		<!-- <div>
		<input type="text" name="focus" required class="search-box" placeholder="Enter search term" />
			<button class="close-icon" type="reset">CLEAR</button>
		</div> -->
		<div class="filterInputWrapper">
			<input type="text" name="{{thisCollectionLc}}ListFilter" id="{{thisCollectionLc}}ListFilter" class="filterField filterInput" data-submit="false" placeholder="Type here to filter {{thisCollectionFullLc}}s" value="{{filter}}">
			<button class="listFilterClear close-button">&nbsp;</button>
		</div>
		<div class="hidden-xs">
			thisCollectionLc: <code>{{thisCollectionLc}}</code> | 
			listFilterString: <code>{{filterVar}}</code> | 
			listDataSelect: <code>{{get_defineDataset}}</code>| 
			int_resultsCount:
			<code>
				{{#if thisCollection thisCollectionLc "org"}} 		{{get_orgsFound}} 		{{/if}}
				{{#if thisCollection thisCollectionLc "kitbag"}} 	{{get_orgBagsFound}} 	{{/if}}
				{{#if thisCollection thisCollectionLc "itemBags"}} 	{{get_itemBagsFound}} 	{{/if}}
				{{#if thisCollection thisCollectionLc "item"}} 		{{get_itemsFound}} 		{{/if}}
				{{#if thisCollection thisCollectionLc "user"}} 		{{get_usersFound}} 		{{/if}}
				{{#if thisCollection thisCollectionLc "orgUser"}} 	{{get_orgUsersFound}} 	{{/if}}
			</code>
		</div>
	</div>

{{else}}
	{{>loading}}
{{/if}}

</template>
