.itemAssocKitbagCountCol {
    text-align: center;
}

.make-block {
	display: block;
}

.kitbaglistSubtitle {
    text-decoration: inherit !important;
    text-transform: uppercase;
    color: gray;
    font-size: 0.8em;
}